<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="servicefactorymap" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <system.windows.forms jitDebugging="false" />
  <appSettings>
    <add key="AdminEmail" value="evaristor@directaxis.co.za" />
    <add key="RiskManagerEmail" value="evaristor@directaxis.co.za" />
    <add key="NLRClosureInbox" value="evaristor@directaxis.co.za" />
    <add key="DBCnxString_Main" value="Sql|server=daqsql04\qa;user id=tq4f/z9yTFs8WcqAHrhlxA==;password=tq4f/z9yTFs8WcqAHrhlxA==;database=DTS" />
    <add key="DBCnxString_MPL" value="Sql|server=daqsql04\qa;user id=tq4f/z9yTFs8WcqAHrhlxA==;password=tq4f/z9yTFs8WcqAHrhlxA==;database=MPL_DTS" />
    <add key="DBCnxString_Performance" value="Sql|server=daqsql04\qa;user id=tq4f/z9yTFs8WcqAHrhlxA==;password=tq4f/z9yTFs8WcqAHrhlxA==;database=DALAS_PERFORMANCE" />
    <add key="biz.objects.asm.name" value="bus" />
    <!-- Determines the set of DB config settings to be used by DALAS. Possible values are:
          1 - Development
          2 - QA
          3 - Training
          4 - Production -->
    <add key="ApplicationConfigurationType" value="2" />
    <add key="NumericPattern" value="#0.00" />
    <add key="ShortDatePattern" value="yyyy-MM-dd" />
    <add key="ShortTimePattern" value="HH:mm:ss" />
    <add key="LongDatePattern" value="yyyy-MM-dd HH:mm:ss" />
    <!-- Used to store documents can be a UNC or a Physical path. This must not be a relative path -->
    <add key="DocumentationPhysicalRoot" value="c:\temp\" />
    <add key="DebtorProxyURL" value="http://dapdev02/debtorproxyspoof/DebtorProxy.asmx" />
    <add key="xActServiceURL" value="http://dapdev06/Transformers/XactSpoof.asmx" />
    <add key="DecisionBrokerServiceURL" value="http://daqmdx02:8183/ws/XactCall" />
    <add key="DecisionBrokerServiceUsername" value="ws" />
    <add key="DecisionBrokerServicePassword" value="ws" />
    <add key="EnableDecisionBrokerService" value="0" />
    <add key="TransactEnquiryReason" value="32" />
    <add key="ACASServiceURL" value="http://196.11.132.45/routerACASModule/services/ACASModuleRemote" />
    <!--    <add key="RiskEngineProxyURL" value="http://localhost:56815/RiskEngineProxy.asmx"/> -->
    <!--<add key="RiskEngineProxyURL" value="http://dapdev06/RiskEngine/RiskEngineProxy.asmx"/>-->
    <add key="RiskEngineProxyURL" value="http://daqapp06/RiskEngine/RiskEngineProxy.asmx" />
    <add key="DADocumentationServiceURL" value="http://daqapp03/DocumentManagementServiceAwesome/DADocumentationService.asmx" />
    <add key="DAAdditionalPayloadServiceURL" value="http://daqapp03/DocumentManagementServiceAwesome/DAAdditionalPayload.asmx" />
    <add key="RiskEngineTransactProxyURL" value="http://daqapp06/RiskEngine/transactproxy.asmx" />
    <add key="CorServiceUrl" value="https://196.11.132.60:9507/soap/authrpc" />
    <add key="ScriptingURL" value="http://daqapp08/scripting/" />
    <add key="MailServer" value="mail.directaxis.co.za" />
    <add key="CAOverrideEmails" value="evaristor@directaxis.co.za" />
    <add key="BCCEmailQuestionnaire" value="evaristor@directaxis.co.za" />
    <add key="RemotingServer" value="daqapp08" />
    <add key="TelephonyRemotingServer" value="daqapp08" />
    <add key="RemotingTCPPort" value="8085" />
    <add key="TelephonyTCPPort" value="8089" />
    <add key="TelephonyUDPClientPort" value="60000" />
    <add key="TelephonyUDPServerPort" value="60001" />
    <!-- Used to indicate the default strategy for the telephony linking.
       Possible Values:
        0 - No Call Linking
        1 - Timer based call linking
        2 - UDP based call linking -->
    <add key="TelephonyLinkStrategy" value="0" />
    <!-- Used to indicate whether the telephony service functionality is available in DTS. 1=Available. 0=Unavailable. -->
    <add key="TelephonyServiceAvailable" value="1" />
    <!-- Used to indicate the location of the Telephony config file. -->
    <add key="SoftPhoneConfig" value="c:\Program Files\Spescom\Softphone\Configp.cfg" />
    <!-- Location of Nexus - remember the "/" at the end -->
    <add key="NexusServerLocation" value="https://dax-nexus:444/" />
    <add key="NexusLogin" value="nq9lUrxDHcsiUgSwVZF+xlP8ZWYhRMgIqiUlRQ8FlC0=" />
    <add key="NexusRecorderNameDBField" value="TelephonyRecording.RecorderName" />
    <!-- Outbound email sending related configs -->
    <add key="ManagedMailerManagerAddress" value="evaristor@directaxis.co.za" />
    <add key="ManagedMailerFailureAddress" value="evaristor@directaxis.co.za" />
    <add key="ManagedMailerFriendlyName" value="DALAS Documentation Sender" />
    <!-- Potential upsell expiry period in months. This should be a positive integer -->
    <add key="UpsellExpiryPeriod" value="0" />
    <!-- Enabling of the brand pop functionality. Set to to 0 or 1 -->
    <add key="EnableBrandPop" value="0" />
    <!-- Path for Finalize Message Queue -->
    <add key="FinalizeQueue" value="FormatName:DIRECT=OS:daqapp08.directaxis.co.za\private$\FinalizeQueue" />
    <!-- Toggle Secured Loan Functionality here.
      Possible values:
        0 - No SL
        1 - Include SL
        (if neither 1 or 0 specified DALAS will assume 0 - No SL) -->
    <add key="EnableSL" value="1" />
    <add key="EnablePerformanceLogging" value="0" />
    <!--Notification Config Start-->
    <add key="NotificationServiceURL" value="http://daqapp06/NotificationService/NotificationService.svc" />
    <!--This code will be found in the Error Service Database-->
    <add key="ApplicationCode" value="DAL" />
    <!--Error Client Config End-->
    <add key="EnvironmentName" value="TeamIncredible" />
    <add key="LAXISLinkServiceURL" value="http://daqapp08/LAXISLinkService/LAXISService.svc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ManualDocumentServer" value="daqapp03" />
    <add key="AutomaticDocumentServer" value="daqapp03" />
    <add key="FaxImageServer" value="daqapp03" />
    <add key="RelativeManualDocumentLocation" value="\linkeddocs\manualdocs\" />
    <add key="RelativeOutsourcedDocumentLocation" value="\OutsourcedDocs\" />
    <add key="DocumentGatewayURL" value="net.tcp://daqapp08/DocumentGateway/DocumentUtility.svc" />
    <add key="TelephonyServiceURL" value="http://daprcl01:9080/SDFDirectAxisCLI/services/AvayaCM" />
    <add key="ProcessInternetApplications" value="1" />
    <add key="ProcessInternetApplicationByBatch" value="0" />
    <add key="InternetApplicationDefaultMessage" value="Thank you for your application.  One of our Loan Consultants will contact you soon." />
    <add key="TransactDownTimeDay" value="1" />
    <add key="TransactDownTimeStartTime" value="00:00" />
    <add key="TransactDownTimeEndTime" value="05:00" />
    <add key="MPLLinkServiceUrl" value="http://daqapp06/MPLLinkService/MPLService.svc" />
    <add key="DebtorSettlementAmountThreshold" value="100" />
    <add key="leadsServiceUsername" value="dalas" />
    <add key="leadsServicePassword" value="2" />
    <add key="leadsServiceUrl" value="http://daqmdx01.directaxis.co.za/ws/DalasServices/" />
    <add key="EnableAddressValidationForTransact" value="1" />
    <add key="EnableSanlamEfp" value="1" />
    <add key="EnableGetLeadIdService" value="1" />
    <add key="EnableVdnToPromoKeySwitch" value="1" />
    <add key="EnableExtendedLoan" value="0" />
    <add key="FraudOverrideFilePath" value="\\daqapp08\FraudOverrideFiles" />
    <add key="FraudOverrideImportTransactionScopeTimeoutMinutes" value="60" />
    <add key="NewBankingDeployed" value="1" />
    <add key="AdhocPaymentRequestServiceUrl" value="http://dapdev07/AdhocPaymentService/AdhocPaymentRequestService.svc" />
    <add key="AccountVerificationServiceUrl" value="http://dapdev07/AVSService/AVSService.asmx" />
    <add key="AvsServiceUserName" value="ws">
    </add>
    <add key="AvsServicePassword" value="ws">
    </add>
    <add key="DebtConIterationService" value="http://daqapp06/Iterationcall/RiskOps.asmx">
    </add>
    <!--<add key="DebtConIterationService" value="http://daqmdx02.directaxis.co.za:8183/ws/RiskOperations"></add>-->
    <add key="DebtConUserName" value="ws">
    </add>
    <add key="DebtConPassword" value="ws">
    </add>
  </appSettings>
  <nhibernate>
    <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
    <add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
    <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
    <add key="hibernate.connection.connection_string" value="server=daqsql04\qa;user id=tq4f/z9yTFs8WcqAHrhlxA==;password=tq4f/z9yTFs8WcqAHrhlxA==;database=DTS" />
    <add key="hibernate.command_timeout" value="30" />
  </nhibernate>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttp_Dbs" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IMPLService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILinkService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ApplicationVerificationServiceSoap" />
        <binding name="BasicHttpBinding_ICustomerService" />
        <binding name="BasicHttpBinding_ICreditorService" />
        <binding name="BasicHttpBinding_ISmsService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcp_DocumentGateway" receiveTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="DocumentGateway" address="net.tcp://localhost/DocumentGateway/DocumentUtility.svc" binding="netTcpBinding" bindingConfiguration="NetTcp_DocumentGateway" contract="DocumentGateway.Contracts.Services.IDocumentUtility">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://daqmdx02:8183/ws/XactCall" binding="basicHttpBinding" bindingConfiguration="BasicHttp_Dbs" contract="DbsService.XactCallPortType" name="Dbs" />
      <endpoint address="http://daqapp06/MPLLinkService/MPLService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMPLService" contract="MPLServiceProxy.IMPLService" name="BasicHttpBinding_IMPLService" />
      <endpoint address="http://daqapp08/DalasSmsWebService/LinkService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILinkService" contract="SmsPortalLinkService.ILinkService" name="BasicHttpBinding_ILinkService" />
      <endpoint address="http://daqmdx02.directaxis.co.za:8053/ws/ApplicationVerificationService/" binding="basicHttpBinding" bindingConfiguration="ApplicationVerificationServiceSoap" contract="ApplicationVerificationService.ApplicationVerificationServicePortType" />
      <endpoint address="http://daqapp06/DA.Services/Customer/CustomerService.svc" binding="basicHttpBinding" contract="CustomerServiceProxy.ICustomerService" />
      <endpoint address="http://daqapp06/DA.Services/Creditor/CreditorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditorService" contract="CreditorServiceProxy.ICreditorService" name="BasicHttpBinding_ICreditorService" />
      <endpoint address="http://daqapp06/DalasSmsWebService/SmsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmsService" contract="SmsService.ISmsService" name="BasicHttpBinding_ISmsService" />
    </client>
    <services>
      <service behaviorConfiguration="InboundServiceBehaviour" name="win.dts.services.InboundCallDetails">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9732/inbound/" />
          </baseAddresses>
        </host>
        <endpoint address="" contract="win.dts.services.IInboundCallDetails" binding="basicHttpBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InboundServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DVTCommon" publicKeyToken="9553e8e5cfaf8740" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.4.1" newVersion="1.3.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>